.feedback {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 22px 24px;

  & header {
    grid-column: 2 / span 4;
    padding-top: 100px;
  }

  & h3 {
    margin: 60px 0 0 0;
  }

  &__form {
    grid-column: 2 / span 4;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 6px;
    grid-template-areas:
      "title title name name surname surname"
      "email email email email email email"
      "phone phone phone phone phone phone"
      "policy policy policy subscribe subscribe subscribe"
      "submit submit submit . . .";
    margin-bottom: 100px;

    & label {
      font-weight: 300;
      font-size: 12px;
      line-height: 18px;
      color: #333333;
    }

    & label.text-label {
      line-height: 16px;
    }
  }

  &__titles {
    grid-area: title;
    margin-top: 2px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 10px;
      height: 6px;
      top: 42px;
      right: 6px;
      background-image: url("../img/arrow-bottom.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
    }

    & select {
      appearance: none;
      color: rgba(51, 51, 51, 0.3);
    }

    & option {
      color: #333333;
    }
  }

  &__name {
    grid-area: name;
    margin-top: 2px;
  }

  &__surname {
    grid-area: surname;
    margin-top: 2px;
  }

  &__email {
    grid-area: email;
    margin-top: 14px;
  }

  &__phone {
    grid-area: phone;
    margin-top: 14px;
  }

  &__policy {
    grid-area: policy;
    margin-top: 24px;
  }

  &__subscribe {
    grid-area: subscribe;
    margin-top: 24px;
  }

  &__submit {
    grid-area: submit;
    margin-top: 34px;

    & button {
      padding: 12px 32px;
    }
  }

  &__img {
    grid-column: 7 / -1;
    grid-row: 1 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
