.header {
  background-color: #f2f8fb;
  padding: 20px 0 23px;

  &__main-nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
  }

  &__site-nav {
    margin: 5px 0 0 0;
    justify-self: start;
  }

  &__user-nav {
    margin: 5px 0 0 0;
    justify-self: end;
  }
}
