.social-media {
  grid-area: 5 / 2 / 6 / 5;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 73px;
  align-items: center;

  &__link {
    display: block;
    width: 44px;
    height: 44px;

    &--facebook {
      background-image: url("../img/facebook.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--instagram {
      background-image: url("../img/instagram.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    &--vk {
      background-image: url("../img/vk.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}
