.welcome {
  padding-bottom: 100px;
  background-color: #f2f8fb;

  &__content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 24px;
  }

  & h1 {
    margin: 0;
    font-size: 44px;
    line-height: 62px;
    letter-spacing: -0.1px;
    grid-area: 2 / 2 / 3 / 8;
    z-index: 1;
  }

  &__city {
    grid-area: 1 / 2 / 2 / 8;
    z-index: 1;
    margin: 81px 0 7px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #aaaaaa;
  }

  &__text {
    grid-area: 3 / 2 / 4 / 8;
    z-index: 1;
    margin: 13px 0 39px 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    color: #333333;
  }

  &__button {
    grid-area: 4 / 2 / 5 / 4;
    margin-bottom: 90px;
  }

  &__img {
    grid-area: 1 / 6 / 6 / -1;
  }
}
